<h1 class="mt-2 text-xs-center">Site settings</h1>

<%= render 'menu', menu: :settings do %>
  <%= form_for(@settings, url: account_settings_path) do |f| %>

    <div class="list-group mb-2">
      <%= render 'shared/list_group_header', title: 'APIs' %>
      <%= render 'shared/list_group_item_field', f: f, field: :gmaps_api_key, help: true %>
    </div>

    <div class="list-group mb-2">
      <%= render 'shared/list_group_header', title: 'Calendar' %>
      <%= render 'shared/list_group_item_field', f: f, field: :google_client_id %>
      <%= render 'shared/list_group_item_field', f: f, field: :google_client_secret %>
    </div>

    <div class="list-group mb-2">
      <%= render 'shared/list_group_header', title: 'Accounts' %>
      <div class="list-group-item">
        <div class="mt-sm">
          <%= render 'shared/form_switch', f: f, field: :can_sign_up, help: true %>
        </div>
      </div>
    </div>

    <%= render 'shared/form_submit', icon: :cogs %>

  <% end %>
<% end %>
