<%= render 'children/child_groups/title' %>
<% two_columns = false %>

<div class="<%= 'container-sm' unless two_columns %>">
  <div class="row">
    <div class="col-xs-12 <%= 'col-lg-7' if two_columns %>">
      <div class="list-group mb-2">
        <%= render 'shared/list_group_header', title: 'Details', button: { title: 'Edit', icon: :edit, can: [:update, @child_group], href: edit_child_group_path(@child_group) } %>

        <% if @child_group.age_group.present? || @child_group.description.present? %>
          <div class="list-group-item">
            <% if @child_group.age_group.present? %>
              <h3><%= @child_group.age_group %></h3>
            <% end %>
            <%= markdown @child_group.description %>
          </div>
        <% end %>
      </div>

      <div class="list-group mb-2">
        <%= render 'shared/list_group_header', title: 'Children', button: { icon: ChildGroupMembership,
                                                                            title: 'Add child',
                                                                            can: [:create, ChildGroupMembership],
                                                                            href: new_child_group_child_group_membership_path(@child_group) } %>

        <%= render partial: 'children/child_group_memberships/list_group_item', collection: @child_group.child_group_memberships.includes(:person) %>
      </div>
    </div>

    <div class="col-xs-12 <%= 'col-lg-5' if two_columns %>">

    </div>
  </div>
</div>
