<%= render 'menu', title: @child_group, active: @child_group do %>
  <% if @child_group.age_group.present? || @child_group.description.present? %>
    <%= render 'shared/list_group_header', title: 'Details' %>
    <div class="list-group mb-2">
      <div class="list-group-item">
        <% if @child_group.age_group.present? %>
          <h3><%= @child_group.age_group %></h3>
        <% end %>
        <%= render 'shared/description', description: @child_group.description %>
      </div>
    </div>
  <% end %>

  <div class="list-group mb-2">
    <%= render 'shared/list_group_header', title: 'Children' %>
    <%= render partial: 'children/child_group_memberships/list_group_item', collection: @child_group.child_group_memberships.includes(:person).joins(:person).order('first_name, last_name') %>
  </div>
<% end %>
