<div class="container py-2">
  <%= link_to(@child_group, class: 'btn btn-secondary float-xs-right btn-lg') { icon_for(:x) + content_tag(:div, 'Close', class: 'sr-only') } %>
  <h1><%= @child_group %></h1>

  <% alphabetize(@child_group.child_group_memberships.includes(:person)).each do |letter, memberships| %>
    <% if memberships.present? %>
      <h2 class="my-1 pt-1"><%= letter %></h2>
    <% else %>
      <h4 class="my-sm pt-sm"><%= letter %></h4>
    <% end %>
    <div class="list-group">
      <% memberships.each do |membership| %>
        <% if membership.checked_in? %>
          <%= link_to child_group_kiosk_check_out_path(@child_group, membership.id), class: "list-group-item p-2 size-xs-normal size-sm-large size-md-huge list-group-item-action active clearfix" do %>
            <div class="avatar-md-container">
              <%= avatar_tag membership.person, class: 'avatar-md' %>
              <div class="float-xs-right">
                <span class="float-xs-left hidden-xs-down px-sm size-xs-normal text-light"><%= membership.child_group_checkins.last.checked_in_by %></span>
                <%= icon_for 'sign-out' %>
              </div>
              <div class="pl-sm float-sm-left"><%= membership.person %></div>
            </div>
          <% end %>
        <% else %>
          <%= link_to child_group_kiosk_check_in_path(@child_group, membership.id), class: "list-group-item p-2 size-xs-normal size-sm-large size-md-huge list-group-item-action" do %>
            <div class="avatar-md-container">
              <%= avatar_tag membership.person, class: 'avatar-md' %>
              <div class="float-xs-right ml-sm"><%= icon_for 'sign-in' %></div>
              <div class="pl-sm"><%= membership.person %></div>
            </div>
          <% end %>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>
