<%= render 'families/title' %>

<div class="container-sm">
  <div class="list-group mb-2">
    <div class="list-group-item list-group-item-secondary">
      <%= link_to new_family_family_membership_path(@family), class: 'float-xs-right btn btn-secondary btn-sm btn-align-middle' do %>
        <%= fa_icon 'user 1x', class: 'mr-xs' %>Add person
      <% end %>

      Members
    </div>

    <%= render 'families/memberships', family: @family %>
  </div>

  <div class="list-group mb-2">
    <div class="list-group-item list-group-item-secondary">
      <%= link_to edit_family_path(@family), class: 'float-xs-right btn btn-secondary btn-sm btn-align-middle' do %>
        <%= fa_icon 'pencil 1x', class: 'mr-xs' %>Edit
      <% end %>

      Details
    </div>

    <%= list_group_fields class: 'mb-2', fields: {
        :name       => @family.name,
        :address1   => @family.address1,
        :address2   => @family.address2,
        :postcode   => @family.postcode,
        :country    => @family.country
    } %>
  </div>
</div>
