<div class="list-group-item">
  <div class="row">
    <div class="col-sm-5 <%= 'field-required' if defined?(required) %>"><%= f.label field, local_assigns[:label], class: 'form-control-static mb-0' %></div>
    <div class="col-sm-7">

      <% content = yield %>
      <% if content.present? %>
        <%= content %>
      <% else %>
        <% if local_assigns[:icon] %>
          <div class="input-group">
            <label class="input-group-addon" for="<%= f.object_name %>_<%= field %>">
              <%= fa_icon "#{icon} 1x" %>
            </label>
            <%= f.send (local_assigns[:control] || :text_field), field, class: 'form-control', placeholder: local_assigns[:placeholder] %>
          </div>
        <% else %>
          <%= f.send (local_assigns[:control] || :text_field), field, class: 'form-control', placeholder: local_assigns[:placeholder] %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
