<div class="navbar navbar-full navbar-dark px-0">
  <div class="bg-primary">
    <div class="container clearfix">
      <a class="navbar-brand" href="<%= root_path %>">
        <%= truncate(current_church.to_s, length: 50) %>
      </a>

      <% if user_signed_in? %>
        <ul class="nav navbar-nav float-xs-right hidden-md-up">
          <% if can?(:read, Person) %>
            <li class="nav-item nav-item-search">
              <a class="nav-link" href="<%= people_path %>" data-toggle="modal" data-target="#search-modal">
                <%= icon_for :search %>
              </a>
            </li>
          <% end %>

          <li class="nav-item">
            <a class="nav-link" href="#" data-toggle="drawer">
              <span class="bars"></span>
            </a>
          </li>
        </ul>
      <% else %>
        <ul class="nav navbar-nav float-xs-right hidden-xs-down">
          <li class="nav-item <%= 'active' if current_page?(new_session_path(:user)) %>">
            <%= link_to 'Log in', new_session_path(:user), class: 'nav-link' %>
          </li>
          <li class="nav-item ml-0 <%= 'active' if current_page?(new_registration_path(:user)) %>">
            <%= link_to 'Sign up', new_registration_path(:user), class: 'nav-link' %>
          </li>
        </ul>
      <% end %>
    </div>
  </div>

  <% if user_signed_in? %>
    <div class="nav nav-material-tabs">
      <div class="bg-primary">
        <div class="container">

          <%= menu_to 'Church',     root_path,             icon: :home,     menu: [:church, :edit_church, :settings]      if can? :read, current_church %>
          <%= menu_to 'People',     people_path,           icon: :person,   menu: [:people, :teams, :families, :children, :properties] if can? :read, Person %>
          <%= menu_to 'Processes',  church_processes_path, icon: :process,  menu: :processes  if can? :read, ChurchProcess %>
          <%= menu_to 'Calendar',   calendar_path,         icon: :calendar, menu: [:calendar, :events, :calendar_settings] if can? :read, Calendar %>

          <div class="hidden-md-up">
            <%= menu_to 'Profile',  account_path %>
            <%= menu_to 'Log out',  destroy_user_session_path %>
          </div>

          <div class="float-md-right hidden-sm-down">
            <%= content_tag :div, class: "nav-item dropdown #{'active' if active_menu?(:account)}" do %>
              <%= link_to(account_path, class: 'nav-link', data: { toggle: 'dropdown' }) do %>
                <%= icon_for(:user, class: 'hidden-sm-down') %>
                <span class="hidden-md-up">Account</span>
              <% end %>

              <div class="dropdown-menu dropdown-menu-right">
                <div class="dropdown-header">
                  <%= current_user.person || current_user %>
                </div>
                <%= link_to 'Profile', account_path, class: 'dropdown-item' %>
                <%= link_to 'Log out', destroy_user_session_path, class: 'dropdown-item' %>
              </div>

            <% end %>

            <%= menu_to icon_for(:search), people_path,
                        data: { toggle: "modal", target: "#search-modal" },
                        class: "nav-item-search hidden-sm-down" if can?(:read, Person) %>
          </div>
        </div>
      </div>

      <% if active_menu? [:people, :teams, :families, :children, :properties] %>
        <div class="bg-light">
          <div class="container">
            <%= menu_to 'People',     people_path,       menu: :people     if can? :read, Person %>
            <%= menu_to 'Teams',      teams_path,        menu: :teams      if can? :read, Team %>
            <%= menu_to 'Families',   families_path,     menu: :families   if can? :read, Team %>
            <%= menu_to 'Children',   child_groups_path, menu: :children   if can? :read, Children %>
            <%= menu_to 'Properties', properties_path,   menu: :properties if can? :read, Property %>
          </div>
        </div>
      <% end %>

      <% if active_menu? [:church, :edit_church, :settings] %>
        <% if can?(:update, current_church) || can?(:update, Setting) %>
          <div class="bg-light">
            <div class="container">
              <%= menu_to 'Church',           root_path,                 menu: :church %>
              <%= menu_to 'Church settings',  edit_account_church_path,  menu: :edit_church   if can? :update, current_church %>
              <%= menu_to 'Site settings',    account_settings_path,     menu: :settings      if can? :update, Setting %>
            </div>
          </div>
        <% end %>
      <% end %>

      <% if active_menu?([:calendar, :events, :calendar_settings]) && (can?(:read, Event) || can?(:update, Calendar)) %>
        <div class="bg-light">
          <div class="container">
            <%= menu_to 'Calendar', calendar_path,          menu: :calendar %>
            <%= menu_to 'Events',   events_path,            menu: :events if can? :read, Event %>
            <%= menu_to 'Settings', calendar_settings_path, menu: :calendar_settings if can? :update, Event %>
          </div>
        </div>
      <% end %>

    </div>
  <% end %>
</div>

<div class="modal fade" id="search-modal" data-turbolinks-permanent>
  <form class="modal-dialog">
    <h1>Search the database...</h1>
    <div class="form-control-icon-container">
      <input type="text" class="form-control form-control-lg" autocomplete="off" />
      <%= icon_for :search, class: 'form-control-icon' %>
    </div>
    <div class="search-modal-results list-group mt-1">
    </div>
  </form>
</div>
