<div class="list-group-item list-group-item-secondary">
  <%= form_for('Search', url: url_for(resource), method: :get) do |f| %>
    <div class="row">
      <div class="col-sm-6 col-md-7">
        <div class="input-group">
          <%= text_field_tag :q, params[:q], class: 'form-control', autofocus: true %>
          <div class="input-group-btn">
            <button type="submit" class="btn btn-secondary" onclick="$(this).closest('form').submit();">
              <span class="sr-only">Search</span>
              <%= fa_icon 'search 1x' %>
            </button>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-md-5 search-options">
        <div class="btn-group">
          <%= link_to(people_path,   class: "btn btn-secondary #{'active' if resource == :people   }", title: "People",   data: { tooltip: true }) { fa_icon 'user' } %>
          <%= link_to(teams_path,    class: "btn btn-secondary #{'active' if resource == :teams    }", title: "Teams",    data: { tooltip: true }) { fa_icon 'users' } %>
          <%= link_to(families_path, class: "btn btn-secondary #{'active' if resource == :families }", title: "Families", data: { tooltip: true }) { fa_icon 'address-card' } %>
        </div>
      </div>
    </div>
  <% end %>
</div>
