<div class="side-menu">

  <% if can? :read, current_user %>
    <a class="side-menu-item <%= 'active' if params[:controller] == 'account/people' %>" href="<%= account_path %>">
      <%= fa_icon 'user-circle-o 2x' %>
      <div class="side-menu-item-text">My Account</div>
    </a>
  <% end %>

  <% if can? :read, Person %>
    <a class="side-menu-item <%= 'active' if params[:controller] == 'people/people' %>" href="<%= people_path %>">
      <%= fa_icon 'user 2x' %>
      <div class="side-menu-item-text">People</div>
    </a>
  <% end %>

  <% if can? :read, Team %>
    <a class="side-menu-item <%= 'active' if params[:controller] == 'people/teams' %>" href="<%= teams_path %>">
      <%= fa_icon 'users 2x' %>
      <div class="side-menu-item-text">Teams</div>
    </a>
  <% end %>

  <% if can? :read, Family %>
    <a class="side-menu-item <%= 'active' if params[:controller] == 'people/families' %>" href="<%= families_path %>">
      <%= fa_icon 'address-card 2x' %>
      <div class="side-menu-item-text">Families</div>
    </a>
  <% end %>

  <% if can? :read, Event %>
    <a class="side-menu-item <%= 'active' if params[:controller] == 'events/events' %>" href="<%= events_path %>">
      <%= fa_icon 'calendar 2x' %>
      <div class="side-menu-item-text">Events</div>
    </a>
  <% end %>

  <% if can? :read, ChurchProcess %>
    <a class="side-menu-item <%= 'active' if params[:controller] == 'processes/church_processes' %>" href="<%= church_processes_path %>">
      <%= fa_icon 'arrow-right 2x' %>
      <div class="side-menu-item-text">Processes</div>
    </a>
  <% end %>

  <% if user_signed_in? %>
    <a class="side-menu-item side-menu-item-bottom" href="<%= destroy_user_session_path %>">
      <%= fa_icon 'sign-out 2x' %>
      <div class="side-menu-item-text">Sign out</div>
    </a>
  <% end %>

</div>
