<div class="container">
  <div class="side-and-details mt-1">
    <div class="side-and-details--details">
      <% if local_assigns[:title] %>
        <h2>
          <% if title.is_a?(Person) %>
            <%= avatar_tag local_assigns[:title], class: 'float-xs-right' %>
          <% elsif title.respond_to?(:icon) && title.respond_to?(:color) %>
            <%= icon_for title, class: 'float-xs-right', style: "background-color: ##{title.color}; color: white;" %>
          <% elsif title.respond_to?(:icon) %>
            <%= icon_for title, class: 'float-xs-right' %>
          <% end %>
          <%= title %>
        </h2>
      <% end %>
      <%= yield %>
    </div>

    <div class="side-and-details--side">
      <ul class="nav nav-stacked">
        <% items.compact.each do |item| %>
          <% if item.blank? || item == '-' %>
            <li class="nav-divider"></li>
          <% else %>
            <li class="nav-item">
              <%= link_to item[:href], class: "nav-link #{'active' if item[:active] || local_assigns[:active] == item[:icon]}" do %>
                <div class="fa-container">
                  <%= icon_for item[:icon] %>
                  <%= item[:title] %>
                </div>
              <% end %>
            </li>
          <% end %>
        <% end %>
      </ul>
    </div>
  </div>
</div>
