<% content_for :title, title %>

<div class="title-container text-xs-center py-2
          <%= "title-container-short"         if local_assigns[:short] %>
          <%= "title-container-#{color}"      if local_assigns[:color].is_a?(Symbol) %>
          <%= "title-background-image"        if local_assigns[:image].present? %>
">

  <% if local_assigns[:icon] %>
    <div class="mb-sm">
      <span class="avatar avatar-xl avatar-icon">
        <%= icon_for icon %>
      </span>
    </div>
  <% end %>

  <div class="clearfix">
    <% if local_assigns[:btn] %>
      <% if !btn[:can] || can?(*btn[:can]) %>
        <%= link_to btn[:href], class: "btn btn-lg float-xs-right #{btn[:btn_class] || 'btn-info'}" do %>
          <%= icon_for 'plus' %> New
        <% end %>
      <% end %>
    <% end %>

    <h2 class="mb-0 <%= "text-xs-#{align}" if local_assigns[:align] %> <%= 'float-xs-left' if local_assigns[:btn] %>">
      <%= link_to_if !!local_assigns[:href], title, local_assigns[:href] %>
    </h2>
  </div>

  <% if local_assigns[:color].is_a? String %>
    <div class="title-overlay" style="background-color: <%= '#' + color %>;"></div>
  <% elsif local_assigns[:image].present? %>
    <div class="title-overlay" style="background-image: url('<%= image %>');"></div>
  <% end %>
</div>
