<%= flash_messages %>
<%= form_for(@person) do |f| %>

  <div class="list-group mb-2">
    <%= render 'shared/list_group_header', title: 'Details', button: { title: 'Cancel', btn_class: 'btn-outline-primary', href: (@person.new_record? ? people_path : account_or_person_path(@person)) } %>
    <%= render 'people/people/form_fields', f: f, person: @person %>
  </div>

  <% if @person.new_record? %>
    <%= render 'people/people/form_family_membership', f: f %>
    <%= render 'people/people/form_team_membership', f: f %>
  <% end %>

  <div class="text-xs-center">
    <button type="submit" class="btn btn-primary btn-lg">
      <%= fa_icon 'user', class: 'mr-sm' %><%= @person.new_record? ? 'Add member' : 'Save changes' %>
    </button>
  </div>
<% end %>
