<%= form_for(@person) do |f| %>

  <div class="list-group mb-2">
    <%= render 'shared/list_group_header', title: 'Details' %>
    <%= render 'people/people/form_fields', f: f, person: @person %>
  </div>

  <% if all_properties.present? %>
    <div class="list-group mb-2">
      <%= f.fields_for :properties do |p| %>
        <%= render 'shared/list_group_header', title: 'Custom properties' %>
        <% all_properties.each do |property| %>
          <div class="list-group-item">
            <%= render 'people/properties/form_item', property: property, f: p, person: @person %>
          </div>
        <% end %>
      <% end %>
    </div>
  <% end %>

  <div class="list-group mb-2">
    <%= render 'shared/list_group_header', title: 'Photo' %>
    <div class="list-group-item">
      <label class="custom-control custom-file my-sm">
        <%= f.file_field :avatar, class: 'custom-file-input' %>
        <span class="custom-file-control"></span>
      </label>
    </div>
  </div>

  <% if @person.new_record? %>
    <%= render 'people/people/form_family_membership', f: f %>
    <%= render 'people/people/form_team_membership', f: f %>
  <% end %>

  <%= render 'shared/form_submit', title: (@person.new_record? ? 'Add member' : 'Save changes'), icon: :user %>
<% end %>
