<%= flash_messages container: 'container-sm' %>

<div class="row">
  <div class="col-md-6">
    <div class="list-group mb-2">
      <div class="list-group-item list-group-item-secondary">
        <% if can? :edit, @person %>
          <%= link_to edit_person_path(@person), class: 'float-xs-right btn btn-secondary btn-sm btn-align-middle' do %>
            <%= fa_icon 'pencil 1x', class: 'mr-xs' %>Edit
          <% end %>
        <% end %>

        Details
      </div>

      <%= list_group_fields class: 'mb-2', fields: {
          :full_name  => @person.full_name,
          'DOB'       => @person.dob&.strftime('%d %b %Y'),
          :email      => (link_to(@person.email, "mailto:#{@person.email}", class: 'dotted') if @person.email),
          :phone      => @person.phone,
          :gender     => gender_icon(@person),
          :account    => (fa_icon('check 1x') if @person.user)
      } %>
    </div>
  </div>

  <div class="col-md-6">
    <div class="list-group mb-2">
      <div class="list-group-item list-group-item-secondary">
        <% if can? :create, TeamMembership %>
          <%= link_to person_teams_path(@person), class: 'float-xs-right btn btn-secondary btn-sm btn-align-middle' do %>
            <%= fa_icon 'users 1x', class: 'mr-xs' %>Join
          <% end %>
        <% end %>

        Teams
      </div>

      <div class="list-group">
        <% @person.teams.each do |team| %>
          <div
              class="list-group-item clearfix size-xs-small size-sm-normal list-group-item-team text-ellipesis"
              style="border-left-color: <%= '#' + team.color %>;">
            <%= fa_icon "#{team.icon} 1x", class: 'mr-xs'%>
            <%= link_to team, team %>
          </div>
        <% end %>
      </div>
    </div>

    <% if @person.families.blank? %>
      <% if can? :create, FamilyMembership %>
        <div class="list-group mb-2">
          <div class="list-group-item list-group-item-secondary">
            <%= link_to person_families_path(@person), class: 'float-xs-right btn btn-secondary btn-sm btn-align-middle' do %>
              <%= fa_icon 'address-card 1x', class: 'mr-xs' %>Join
            <% end %>

            Family
          </div>
        </div>
      <% end %>
    <% else %>
      <% @person.families.each do |family| %>
        <%= render 'people/families/family_list_group', family: family %>
      <% end %>
    <% end %>
  </div>
</div>
