<%= flash_messages container: 'container-sm' %>

<div class="row">
  <div class="col-md-6">
    <div class="list-group mb-2">
      <div class="list-group-item list-group-item-secondary">
        <% if can? :edit, @person %>
          <%= link_to edit_person_path(@person), class: 'float-xs-right btn btn-secondary btn-sm btn-align-middle' do %>
            <%= fa_icon 'pencil 1x', class: 'mr-xs' %>Edit
          <% end %>
        <% end %>

        Details
      </div>

      <%= list_group_fields class: 'mb-2', fields: {
          :full_name  => @person.full_name,
          'DOB'       => @person.dob&.strftime('%d %b %Y'),
          :email      => (link_to(@person.email, "mailto:#{@person.email}", class: 'dotted') if @person.email),
          :phone      => @person.phone,
          :gender     => gender_icon(@person),
          :account    => @person.user ? fa_icon('check 1x') : link_to('Link account', new_person_user_path(@person), class: 'btn btn-secondary btn-sm btn-align-middle')
      } %>
    </div>
  </div>

  <div class="col-md-6">
    <div class="list-group mb-2">
      <div class="list-group-item list-group-item-secondary">
        Teams
      </div>

      <%= list_group @person.teams, wrap: false do |team| %>
        <%= link_to team, class: "text-ellipsis" do %>
          <%= fa_icon 'star 1x', class: 'mr-xs' if team.admin? %><%= team %>
        <% end %>
      <% end %>
    </div>

    <% @person.families.each do |family| %>
      <%= render 'people/families/family_list_group', family: family %>
    <% end %>
  </div>
</div>
