<div class="list-group mb-2 mt-1">
  <%= list_group_fields class: 'mb-2', object: person, fields: {
      :full_name  => person.full_name,
      :dob        => person.dob&.strftime('%d %b %Y'),
      :joined_at  => person.joined_at&.strftime('%d %b %Y'),
      :email      => (link_to(person.email, "mailto:#{person.email}", class: 'dotted') if person.email),
      :phone      => person.phone,
      :gender     => gender_icon(person),
      :facebook   => (link_to(icon_for(:facebook) + "fb.com/#{person.facebook}",     "https://fb.com/#{person.facebook}",     target: '_blank', class: 'fa-container') if person.facebook),
      :twitter    => (link_to(icon_for(:twitter) + "twitter.com/#{person.twitter}", "https://twitter.com/#{person.twitter}", target: '_blank', class: 'fa-container') if person.twitter)
  } %>

  <% if can?(:manage, User) || person.user.present? %>
    <%= list_group_field person, :account do %>

      <% if person.user.present? %>
        <%= icon_container(person.user.email, person.user) %>
      <% elsif can?(:manage, User) %>
        <%= link_to new_person_user_path(person), class: 'btn btn-secondary btn-sm btn-align-middle' do %>
          <%= icon_for User %>
          Add login account
        <% end %>
      <% end %>

    <% end %>
  <% end %>
</div>

<% if person.property_joins.includes(:property) .present? %>
  <div class="list-group mb-2">
    <%= render 'shared/list_group_header', title: 'Custom properties', icon: :property %>
    <%= render partial: 'people/property_joins/property_join', collection: person.property_joins.includes(:property) %>
  </div>
<% end %>

<% if person.families.present? %>
  <% person.families.each do |family| %>
    <%= render 'families/families/family_list_group', family: family %>
  <% end %>
<% elsif can?(:create, FamilyMembership) %>
  <div class="list-group mb-2">
    <div class="list-group-item">
      <h3 class="mt-sm">No family defined.</h3>
      <div class="mb-sm">This person is not yet part of a family. Would you like to <%= link_to 'add them to a family', person_families_path(@person) %>?</div>
    </div>
  </div>
<% end %>

<% if can?(:read, Team) && person.team_memberships.present? %>
  <div class="list-group mb-2">
    <%= render 'shared/list_group_header', title: 'Teams', icon: :team %>
    <%= render 'people/people/memberships', person: person %>
  </div>
<% end %>

<% if (can?(:read, PersonProcess) || person == current_person) && person.assigned_person_processes.present? %>
  <div class="list-group mb-2">
    <%= render 'shared/list_group_header', title: 'Assigned Processes', icon: :person %>
    <%= render partial: 'people/people/assigned_person_process_item', collection: person.assigned_person_processes.active %>
  </div>
<% end %>

<% if can?(:read, PersonProcess) && person.person_processes.present?%>
  <div class="list-group mb-2">
    <%= render 'shared/list_group_header', title: 'Processes', icon: :process %>
    <%= render partial: 'processes/person_processes/person_process_item', collection: person.person_processes.active, person: person %>
  </div>
<% end %>

<%= render 'comments/comments/form', resource: person %>
