<% if can? :create, Person %>
  <%= link_to new_person_path, class: 'btn btn-primary float-xs-right' do %>
    <%= fa_icon 'plus-circle' %> New
  <% end %>
<% end %>

<%= render 'shared/title', title: 'People' %>

<div class="list-group">
  <%= render 'shared/search_header', resource: :people %>

  <% if @people.empty? %>
    <%= render 'people/people/empty' %>
  <% end %>

  <% @people.each do |person| %>
    <%= list_group_item person, url: person do %>
      <div class="avatar-container">
        <%= avatar_tag person %>

        <div class="row">
          <div class="col-sm-6 text-ellipsis">
            <%= person.name %>
          </div>

          <div class="col-sm-6 text-ellipsis text-light">
            <% person.teams.each do |team| %>
              <%= content_tag :span, team, class: 'tag tag-default' %>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>

<div class="text-xs-center mt-1">
  <%= paginate @people, theme: 'twitter-bootstrap-4', pagination_class: "pagination-sm" %>
</div>
