<% content_for :menu, :people %>

<div class="container">
  <%= render 'shared/title', title: 'People', btn: { can: [:create, Person], href: new_person_path } %>
  <%= flash_messages %>

  <div class="list-group">
    <%= render 'shared/search_header', resource: :people, options: [:people, :families, :teams] %>

    <% if @people.empty? %>
      <%= render 'people/people/empty' %>
    <% end %>

    <% @people.each do |person| %>
      <%= list_group_item person, url: person do %>
        <div class="avatar-container">
          <%= avatar_tag person %>

          <div class="clearfix">
            <div class="float-sm-left text-ellipsis">
              <%= person.name %>
            </div>

            <div class="float-sm-right">
              <% person.teams.each do |team| %>
                <span style="color: <%= '#' + team.color %>;" data-tooltip title="<%= team %>">
                  <%= icon_for team, '1x', class: 'ml-sm' %>
                </span>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>

  <div class="text-xs-center mt-1">
    <%= paginate @people, theme: 'twitter-bootstrap-4', pagination_class: "pagination-sm" %>
  </div>
</div>
