<% if can? :create, Person %>
  <%= link_to new_person_path, class: 'btn btn-primary float-xs-right' do %>
    <%= fa_icon 'plus-circle' %> New
  <% end %>
<% end %>

<%= render 'shared/title', title: 'People' %>

<div class="list-group">
  <%= render 'shared/search_header', resource: :people %>

  <% if @people.empty? %>
    <%= render 'people/people/empty' %>
  <% end %>

  <% @people.each do |person| %>
    <%= list_group_item person, url: person do %>
      <div class="avatar-container">
        <%= avatar_tag person %>

        <div class="clearfix">
          <div class="float-sm-left text-ellipsis">
            <%= person.name %>
          </div>

          <div class="float-sm-right">
            <% person.teams.each do |team| %>
              <span style="color: <%= '#' + team.color %>;", data-tooltip title="<%= team %>">
                <%= fa_icon "#{team.icon} 1x", class: 'ml-sm' %>
              </span>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>

<div class="text-xs-center mt-1">
  <%= paginate @people, theme: 'twitter-bootstrap-4', pagination_class: "pagination-sm" %>
</div>
