<% content_for :menu, :people %>

<div class="container">
  <div class="clearfix">
    <%= render 'shared/title', title: 'People', btn: true do %>

      <% if can?(:create, Person) %>
        <div class="btn-group float-xs-right">
          <%= link_to new_person_path, class: "btn btn-lg btn-info" do %>
            <%= icon_for 'plus' %> New
          <% end %>
          <div class="btn-group" role="group">
            <button type="button" class="btn btn-info btn-lg dropdown-toggle pl-sm" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
            <div class="dropdown-menu dropdown-menu-right">
              <a class="dropdown-item" href="<%= new_person_path %>">
                <%= icon_container "New person", :person %>
              </a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="<%= new_import_path %>">
                <%= icon_container "Import from spreadsheet", :table %>
              </a>
            </div>
          </div>
        </div>
      <% end %>

    <% end %>
  </div>

  <div class="list-group">
    <%= render 'shared/search_header', resource: :people, options: [:people, :families, :teams] %>

    <% if @people.empty? %>
      <%= render 'people/people/empty' %>
    <% end %>

    <% @people.each do |person| %>
      <%= list_group_item person, url: person do %>
        <div class="avatar-container">
          <%= avatar_tag person %>

          <div class="clearfix">
            <div class="float-sm-left text-ellipsis">
              <%= person.name %>
            </div>

            <div class="float-sm-right">
              <% person.teams.each do |team| %>
                <span style="color: <%= '#' + team.color %>;" data-tooltip title="<%= team %>">
                  <%= icon_for team, '1x', class: 'ml-sm' %>
                </span>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>

  <div class="text-xs-center mt-1">
    <%= paginate @people, theme: 'twitter-bootstrap-4', pagination_class: "pagination-sm" %>
  </div>
</div>
