<%= render 'shared/title', title: 'People' %>

<%= list_group @people do |person| %>

  <div class="row">
    <div class="col-sm-6">
      <a class="avatar-md-container" href="<%= url_for(person) %>">
        <%= avatar_tag person, class: 'avatar-md' %>
        <div class="text-ellipsis"><%= person.name %></div>
      </a>
    </div>

    <div class="col-sm-6">
      <div class="text-ellipsis text-light">
        <% person.teams.each do |team| %>
          <%= link_to team, team, class: 'tag tag-default' %>
        <% end %>
      </div>
    </div>
  </div>

<% end %>
