<a
    class="list-group-item clearfix size-xs-small size-sm-normal list-group-item-process list-group-item-action"
    href="<%= url_for(church_process_item) %>"
    style="border-left-color: <%= '#' + church_process_item.color %>;">

  <div class="row">
    <div class="col-sm-6">
      <%= fa_icon "#{church_process_item.icon} 1x", class: 'mr-xs'%>
      <%= church_process_item %>
    </div>
    <% if church_process_item.active_processes_count == 0 %>
      <div class="col-sm-6 text-light size-xs-small">
        <%= pluralize church_process_item.active_processes_count, 'person' %>
      </div>
    <% else %>
      <div class="col-sm-6 size-xs-small">
        <%= pluralize church_process_item.active_processes_count, 'person' %>
      </div>
    <% end %>
  </div>
</a>
