<%= form_for(@church_process) do |f| %>

  <div class="list-group mb-2">
    <%= render 'shared/list_group_header', title: 'Details' %>

    <div class="list-group-item">
      <%= f.label :name, class: 'text-required mb-0' %>
      <div class="input-group my-sm <%= 'has-danger' if @church_process.errors[:name].present? %>">
        <%= f.text_field :name, class: 'form-control', autofocus: true, hide_errors: true %>
        <%= f.hidden_field :icon %>

        <div class="input-group-btn dropdown">
          <div class="dropdown-menu dropdown-menu-icons dropdown-menu-right">
            <% ChurchProcess::ICONS.each do |icon| %>
              <%= link_to raw(icon_for(icon, '2x')), '#', class: "dropdown-item dropdown-item-icon text-xs-center", data: { toggle: 'icon', icon: icon_name_for(icon), value: icon } %>
            <% end %>
          </div>
          <a class="btn btn-secondary" data-toggle="dropdown"><%= icon_for @church_process, '1x' %></a>
        </div>
      </div>
      <%= field_error(@church_process, :name) %>
    </div>

    <div class="list-group-item">
      <%= field_name @church_process, :description %>
      <div class="size-xs-small text-light">You can write more details about your process if you wish.</div>
      <%= f.text_area :description, class: 'form-control my-sm', rows: 4 %>
    </div>
  </div>

  <div class="list-group mb-2">
    <%= render 'shared/list_group_header', title: 'Steps' %>

    <div class="list-group-item">
      <p class="text-light size-xs-small">
        Write your steps below. Steps are the checklist for your process. As a person goes through this process, you can check them off.
      </p>
      <div class="draggable">
        <% @church_process.steps.each do |step| %>
          <div class="input-group mb-sm">
            <label class="input-group-addon">
              <%= icon_for :bars, '1x' %>
            </label>
            <%= f.text_field :steps, name: 'church_process[steps][]', value: step, class: 'form-control' %>
          </div>
        <% end %>
      </div>
      <a class="btn btn-secondary btn-block js-add-step mb-sm" href="javascript:void(0)">
        <%= icon_for "plus-circle", "1x", class: 'mr-xs' %>Add step
      </a>
    </div>
  </div>

  <%= render 'shared/form_submit', title: (@church_process.new_record? ? 'Create process' : 'Save changes'), icon: :process %>

<% end %>
