<%= render 'processes/church_processes/title', color: :danger %>

<div class="container-xs">
  <div class="list-group mb-2">
    <%= render 'shared/list_group_header', title: 'Remove process' %>

    <div class="list-group-item">
      <p>
        If you do this, <strong><%= @church_process %></strong> will be removed from the database.
        Are you sure?
      </p>

      <%= link_to 'No, stop!', @church_process, class: 'btn btn-secondary btn-block btn-lg mb-sm' %>
      <%= button_to 'Yes, do it.', @church_process, method: :delete, class: 'btn btn-danger btn-block btn-lg mb-sm' %>
    </div>
  </div>
</div>
