<%= render 'processes/church_processes/title' %>

<div class="row">
  <div class="col-lg-6">
    <div class="list-group mb-2">
      <div class="list-group-item active">
        <% if can? :update, @church_process %>
          <%= link_to edit_church_process_path(@church_process), class: 'btn btn-primary btn-sm float-xs-right btn-align-middle' do %>
            <%= fa_icon 'pencil 1x' %>
            Change
          <% end %>
        <% end %>
        Details
      </div>

      <% if @church_process.description.present? %>
        <div class="list-group-item">
          <%= render 'shared/description', description: @church_process.description %>
        </div>
      <% end %>

      <ol class="list-group-item list-steps">
        <% @church_process.steps.select(&:present?).each do |step| %>
          <li class="list-step size-xs-small size-sm-normal">
            <%= fa_icon 'check-square-o 1x', class: 'mr-xs' %>
            <%= step %>
          </li>
        <% end %>
      </ol>
    </div>
  </div>

  <div class="col-lg-6">
    <div class="list-group mb-2">
      <div class="list-group-item active">
        <% if can? :create, PersonProcess %>
          <%= link_to new_church_process_person_process_path(@church_process), class: 'btn btn-primary btn-sm float-xs-right btn-align-middle' do %>
            <%= fa_icon 'user 1x' %>
            Add
          <% end %>
        <% end %>

        <div class="hidden-xs-down">
          People on this process
        </div>
        <div class="hidden-sm-up">
          People
        </div>
      </div>

      <%= render partial: 'processes/person_processes/person_process_item', collection: @church_process.active_processes %>
    </div>

    <% if can? :manage, @church_process %>
      <div class="list-group mb-2">
        <div class="list-group-item active">
          Management
        </div>
        <div class="list-group-item">
          <%= fa_icon 'trash 1x', class: 'mr-xs' %>
          <%= link_to 'Remove process', confirm_destroy_church_process_path(@church_process) %>
        </div>
      </div>
    <% end %>
  </div>
</div>
