<%= render 'menu', title: @church_process, active: @church_process do %>

  <div class="list-group mb-2">
    <%= render 'shared/list_group_header', title: 'Details' %>

    <% if @church_process.description.present? %>
      <div class="list-group-item">
        <%= render 'shared/description', description: @church_process.description %>
      </div>
    <% end %>

    <ol class="list-group-item list-steps">
      <% @church_process.steps.select(&:present?).each do |step| %>
        <li class="list-step size-xs-small size-sm-normal">
          <%= icon_for 'check-square-o', '1x', class: 'mr-xs' %>
          <%= step %>
        </li>
      <% end %>
    </ol>
  </div>

  <% if @church_process.active_processes.present? %>
    <div class="list-group mb-2">
      <%= render 'shared/list_group_header', title: 'People on this process' %>
      <%= render partial: 'processes/person_processes/person_process_item', collection: @church_process.active_processes %>
    </div>
  <% end %>

  <%= render 'comments/comments/form', resource: @church_process %>
<% end %>
