<%= render 'people/people/title' %>

<div class="container-sm">

  <%= flash_messages %>
  <%= form_for(@person, url: person_user_path(@person)) do |f| %>

    <div class="list-group mb-2">
      <div class="list-group-item list-group-item-secondary">
        Link to User Account
      </div>

      <div class="list-group-item">
        <div class="mb-1">
          <%= f.collection_select :user_id, User.all, :id, :email, { include_blank: true }, class: 'form-control',
                                  data: { selectpicker: true, placeholder: 'Choose a user account' } %>
        </div>
      </div>
    </div>

    <div class="text-xs-center">
      <button type="submit" class="btn btn-primary btn-lg">
        <%= fa_icon 'user', class: 'mr-sm' %>Link account
      </button>
    </div>

  <% end %>

</div>
