<%= render 'people/people/menu', active: :merge, title: 'Merge people' do %>
  <p class="alert alert-info">
    You can merge this person into another. Any team and family memberships
    will be copied over, and any duplicate fields (like name) will be replaced
    with the person you merge into.
  </p>

  <%= form_for :merge, url: person_merge_path(@person), method: :put do |f| %>
    <div class="list-group mb-2">
      <%= render 'shared/list_group_header', title: "Merge #{@person.first_name} into..." %>

      <div class="list-group-item">
        <%= f.collection_select :merger_id, Person.where.not(id: @person.id).order(:first_name, :last_name).all, :id, :name,
                                { include_blank: true },
                                { data: { selectpicker: true, width: '100%', placeholder: "Choose a person" }} %>
      </div>
    </div>

    <%= render 'shared/form_submit', icon: 'handshake-o', title: 'Merge!' %>
  <% end %>
<% end %>
