<%= render 'people/people/menu', active: :merge, title: 'Merge people' do %>
  <p class="alert alert-info">
    You can merge this person into another if you accidentally made duplicate records.
    Any team and family memberships
    will be combined, and any duplicate fields (like name) will be replaced
    with the record you merge into.
  </p>

  <%= form_for :merge, url: person_merge_path(@person), method: :put do |f| %>
    <div class="list-group mb-2">
      <%= render 'shared/list_group_header', title: "Merge #{@person.short_name} into..." %>

      <div class="list-group-item">
        <%= f.select :merger_id, [], { include_blank: true },
                     { data: { selectpicker: true, width: '100%', placeholder: "Choose a person",
                               ajax: people_path(not: @person.id),
                               template: :person }} %>
      </div>
    </div>

    <%= render 'shared/form_submit', icon: 'handshake-o', title: 'Merge!' %>
  <% end %>
<% end %>
