<%= form_for([@person, @person_process]) do |f| %>
  <div class="list-group mb-2">
    <% if @person_process.church_process %>
      <%= render 'shared/list_group_header', title: @person_process.church_process, icon: @person_process %>
    <% else %>
      <%= render 'shared/list_group_header', title: 'Process', icon: :process %>
    <% end %>

    <% if @person_process.new_record? %>
      <div class="list-group-item pb-2">
        <p class="size-xs-small">
          Select the process to start for <strong><%= @person_process.person %></strong>.
        </p>
        <div class="my-sm">
          <%= f.collection_select :church_process_id, all_church_processes, :id, :name, { include_blank: true }, { data: { selectpicker: true, placeholder: "Choose a process", width: '100%' }} %>
        </div>
      </div>
    <% else %>
      <%= render 'processes/person_processes/form_steps', f: f %>
    <% end %>
  </div>

  <%= render 'processes/person_processes/form_assign', f: f %>

  <%= render 'shared/form_submit', title: (@person_process.new_record? ? 'Start process' : 'Save changes'), icon: 'arrow-right' %>
<% end %>
