<%= form_for([@family, @family_membership]) do |f| %>

  <div class="list-group mb-2">
    <%= render 'shared/list_group_header', title: 'Add to Family' %>

    <div class="list-group-item">
      <div class="my-sm">
        <%= f.select :person_id, [], { include_blank: true }, class: 'form-control',
                     data: { selectpicker: true, placeholder: 'Choose a member', ajax: '/people.json', template: :person } %>
      </div>

    </div>
    <div class="list-group-item">
      <div class="mt-sm">
        <%= render 'shared/form_switch', f: f, field: :head, name: 'Parent/Guardian', help: "Marks this family member as being responsible for children." %>
      </div>
    </div>
  </div>

  <%= render 'shared/form_submit', title: "Add member", icon: Person %>
<% end %>
