<%= flash_messages container: 'container-sm' %>

<div class="container-sm">
  <div class="list-group mb-2">
    <div class="list-group-item list-group-item-secondary">
      <%= link_to new_family_family_membership_path(family), class: 'float-xs-right btn btn-secondary btn-sm btn-align-middle' do %>
        <%= fa_icon 'user 1x', class: 'mr-xs' %>Add person
      <% end %>

      Members
    </div>

    <%= render 'people/families/memberships', family: family %>
  </div>

  <% if can?(:edit, family) || @family.full_address.present? %>
    <div class="list-group mb-2">
      <div class="list-group-item list-group-item-secondary">
        <% if can? :edit, family %>
          <%= link_to edit_family_path(family), class: 'float-xs-right btn btn-secondary btn-sm btn-align-middle' do %>
            <%= fa_icon 'pencil 1x', class: 'mr-xs' %>Edit
          <% end %>
        <% end %>

        Details
      </div>

      <% if @family.full_address.present? %>
        <% if @family.lat && @family.lng %>
          <%= map_for @family, height: '400px' %>
        <% end %>

        <div class="list-group-item">
          <%= fa_icon 'map-marker', class: 'mr-xs' %>
          <%= @family.full_address %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
