<%= flash_messages container: 'container-sm' %>

<div class="list-group mb-2">
  <%= render 'shared/list_group_header', title: 'Members' %>
  <%= render 'people/families/memberships', family: family %>
</div>

<% if family.full_address.present? %>
  <div class="list-group mb-2">
    <%= render 'shared/list_group_header', title: 'Address' %>

    <% if family.full_address.present? %>
      <% if family.lat && family.lng %>
        <%= map_for family, height: '400px' %>
      <% end %>

      <div class="list-group-item size-xs-small size-sm-normal">
        <%= icon_for 'map-marker', class: 'mr-xs' %>
        <%= family.full_address %>
      </div>
    <% end %>
  </div>
<% end %>

<%= render 'comments/comments/form', resource: family %>
