<%= flash_messages %>
<%= form_for(@family) do |f| %>

  <div class="list-group mb-2">
    <%= render 'shared/list_group_header', title: 'Details', button: {
        href: (@family.new_record? ? families_path : @family),
        title: 'Cancel',
        btn_class: 'btn-outline-primary' } %>

    <%= render 'shared/list_group_item_field', f: f, model: @family, field: :name %>
    <%= render 'shared/list_group_item_field', f: f, model: @family, field: :address1 %>
    <%= render 'shared/list_group_item_field', f: f, model: @family, field: :address2 %>
    <%= render 'shared/list_group_item_field', f: f, model: @family, field: :postcode %>
    <%= render 'shared/list_group_item_field', f: f, model: @family, field: :country %>

  </div>

  <div class="text-xs-center">
    <button type="submit" class="btn btn-primary btn-lg">
      <%= fa_icon 'address-card', class: 'mr-sm' %><%= @family.new_record? ? 'Make new family' : 'Save changes' %>
    </button>
  </div>

<% end %>
