<%= render 'people/people/title', title: 'Your profile' %>

<div class="container-xs">
  <% if @person.new_record? %>
    <p class="size-xs-small mt-2">
      Welcome! To add your account to the church database,
      we respectfully ask that you provide some identity information.
    </p>

    <p class="size-xs-small text-light">
      Fields in red are required.
    </p>
  <% end %>

  <%= form_for(@person, url: account_person_path) do |f| %>

    <div class="list-group mb-2">
      <%= render 'shared/list_group_header', title: 'Details' %>
      <%= render 'account/people/form_fields', f: f, person: @person, email: false %>
    </div>

    <div class="list-group mb-2">
      <%= render 'shared/list_group_header', title: 'Photo' %>
      <div class="list-group-item">
        <label class="custom-control custom-file">
          <%= f.file_field :avatar, class: 'custom-file-input' %>
          <span class="custom-file-control"></span>
        </label>
      </div>
    </div>

    <%= render 'shared/form_submit', title: 'Save changes', icon: @person %>
  <% end %>
</div>
