<%= render 'people/people/title', title: 'Your profile', short: @person.new_record?, icon: 'user-circle-o' %>

<div class="container-xs">
  <% if @person.new_record? %>
    <p class="size-xs-small mt-2">
      Welcome! To add your account to the church database,
      we respectfully ask that you provide some identity information.
    </p>

    <p class="size-xs-small text-light">
      Fields in red are required.
    </p>
  <% end %>

  <%= flash_messages %>
  <%= form_for(@person, url: account_person_path) do |f| %>

    <div class="list-group mb-1">
      <div class="list-group-item list-group-item-secondary">
        Details
      </div>
      <%= render 'account/people/form_fields', f: f, person: @person, email: false %>
    </div>

    <div class="text-xs-center">
      <button type="submit" class="btn btn-primary btn-lg">
        <%= fa_icon 'user', class: 'mr-sm' %>Save changes
      </button>
    </div>
  <% end %>
</div>
