<%= render 'people/people/title', title: "Welcome, #{current_person}!", icon: 'thumbs-up' %>

<div class="container-sm">
  <p class="alert alert-info mb-2">
    This is your first time using Church-on-Rails. We have created an <strong>Admins</strong>
    team for you and set up a few defaults. You now have administrative access
    to the site.
  </p>

  <h4 class="mb-1">What next?</h4>

  <div class="fa-2x-container mb-2">
    <%= icon_for User, '2x' %>
    Update your <%= link_to 'church profile', root_path %> with more information so that you can be identified more
    easily on this website.
  </div>

  <div class="fa-2x-container mb-2">
    <%= icon_for Person, '2x' %>
    Start adding <%= link_to 'people', people_path %> to your church database.
  </div>

  <div class="fa-2x-container mb-2">
    <%= icon_for Team, '2x' %>
    Define <%= link_to 'teams', teams_path %> for your members. Teams not just identify
    home groups and church teams, but can also be used to give access permissions on this website
    to others.
  </div>
</div>
