<%= form_for(@event) do |f| %>

  <div class="list-group mb-2">
    <%= render 'shared/list_group_header', title: 'Details' %>

    <div class="list-group-item">
      <%= f.label :name, class: 'mb-0 text-required' %>
      <%= f.text_field :name, class: 'form-control my-sm', autofocus: true, required: true, autocapitalize: :sentences %>
    </div>

    <div class="list-group-item">
      Who is this for?
      <%= f.collection_select :team_id, Team.all, :id, :name, { include_blank: 'Everyone' }, data: { selectpicker: true, width: '100%' }, class_name: 'my-sm' %>
    </div>

    <div class="list-group-item">
      <%= field_name @event, :description %>
      <div class="size-xs-small text-light">You can write more details about your event if you wish.</div>
      <%= f.text_area :description, class: 'form-control my-sm', rows: 4 %>
    </div>
  </div>

  <div class="list-group mb-2">
    <%= render 'shared/list_group_header', title: 'Date and time' %>

    <div class="list-group-item">
      <p class="text-light size-xs-small">
        Events can be either on a single date, or recurring.
      </p>

      <%= f.schedule_select :schedule, style: :bootstrap,
                            from: true, until: true,
                            date_select_wrapper: { },
                            collection_check_boxes_item_wrapper: { tag: 'div', class: 'checkbox' },
                            number_field_html: { class: 'form-control' },
                            collection_select_html: { data: { selectpicker: true, width: '100%', 'minimum-results-for-search': 'Infinity' }} %>
    </div>
  </div>

  <div class="list-group mb-2">
    <%= render 'shared/list_group_header', title: 'Venue' %>
    <%= render 'shared/list_group_item_field', f: f, field: :address1, autocapitalize: :words %>
    <%= render 'shared/list_group_item_field', f: f, field: :address2, autocapitalize: :words %>
    <%= render 'shared/list_group_item_field', f: f, field: :postcode, autocapitalize: :characters %>
    <%= render 'shared/list_group_item_field', f: f, field: :country,  autocapitalize: :words %>
  </div>

  <%= render 'shared/form_submit', title: (@event.new_record? ? 'Create event' : 'Save changes'), icon: 'calendar' %>

<% end %>
