<% if can? :create, Event %>
  <%= link_to new_event_path, class: 'btn btn-danger float-xs-right' do %>
    <%= fa_icon 'plus-circle' %> New
  <% end %>
<% end %>

<%= render 'shared/title', title: 'Events', background: :event %>
<%= flash_messages %>

<div class="list-group">
  <div class="list-group-item list-group-item-secondary">
    Upcoming events
  </div>
  <%= render partial: 'events/events/event_item', collection: @events %>
</div>

<div class="text-xs-center mt-1">
  <%= paginate @events, theme: 'twitter-bootstrap-4', pagination_class: "pagination-sm" %>
</div>
