<%= render 'events/events/title' %>

<div class="<%= 'container-sm' unless @event.full_address.present? %>">
  <div class="row">
    <div class="col-xs-12 <%= 'col-lg-6' if @event.full_address.present? %>">
      <div class="list-group mb-2">
        <div class="list-group-item list-group-item-secondary">
          <% if can? :update, @event %>
            <%= link_to edit_event_path(@event), class: 'btn btn-secondary btn-sm float-xs-right btn-align-middle' do %>
              <%= fa_icon 'pencil 1x' %>
              Change
            <% end %>
          <% end %>
          Details
        </div>

        <% if @event.description.present? %>
          <div class="list-group-item">
            <%= render 'shared/description', description: @event.description %>
          </div>
        <% end %>

        <div class="list-group-item py-sm">
          <%= render "events/schedules/#{@event.schedule.rule}", schedule: @event.schedule %>
        </div>

        <% if @event.team %>
          <%= render 'people/teams/team_item', team_item: @event.team %>
        <% end %>
      </div>
    </div>

    <% if @event.full_address.present? %>
      <div class="col-xs-12 col-lg-6">
        <div class="list-group mb-2">
          <div class="list-group-item list-group-item-secondary">
            Venue
          </div>

          <% if @event.lat && @event.lng %>
            <%= map_for @event, height: '400px' %>
          <% end %>

          <div class="list-group-item size-xs-small size-sm-normal">
            <%= fa_icon 'map-marker 1x', class: 'mr-xs' %>
            <%= @event.full_address %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
