<%= render 'menu', title: @event, active: @event do %>

  <div class="list-group mb-2">
    <%= render 'shared/list_group_header', title: 'Details' %>

    <% if @event.description.present? %>
      <div class="list-group-item">
        <%= render 'shared/description', description: @event.description %>
      </div>
    <% end %>

    <div class="list-group-item py-sm">
      <%= render "events/schedules/#{@event.schedule.rule}", schedule: @event.schedule %>
    </div>

    <% if @event.team %>
      <%= render 'people/teams/team_item', team_item: @event.team %>
    <% end %>
  </div>

  <% if @event.full_address.present? %>
    <div class="list-group mb-2">
      <%= render 'shared/list_group_header', title: 'Venue' %>

      <% if @event.lat && @event.lng %>
        <%= map_for @event, height: '400px' %>
      <% end %>

      <%= icon_container 'map-marker', class: 'list-group-item size-xs-small size-sm-normal' do %>
        <%= @event.full_address %>
      <% end %>
    </div>
  <% end %>

  <%= render 'comments/comments/form', resource: @event %>
<% end %>
