<%= render 'events/events/title' %>
<% two_columns = can?(:manage, @event) || has_comments_area?(@event) %>

<div class="<%= 'container-sm' unless two_columns %>">
  <div class="row">
    <div class="col-xs-12 <%= 'col-lg-7' if two_columns %>">
      <div class="list-group mb-2">
        <%= render 'shared/list_group_header', title: 'Details', button: { icon: :pencil, title: 'Change', href: edit_event_path(@event), can: [:update, @event] } %>

        <% if @event.description.present? %>
          <div class="list-group-item">
            <%= render 'shared/description', description: @event.description %>
          </div>
        <% end %>

        <div class="list-group-item py-sm">
          <%= render "events/schedules/#{@event.schedule.rule}", schedule: @event.schedule %>
        </div>

        <% if @event.team %>
          <%= render 'people/teams/team_item', team_item: @event.team %>
        <% end %>
      </div>

      <% if @event.full_address.present? %>
        <div class="list-group mb-2">
          <%= render 'shared/list_group_header', title: 'Venue' %>

          <% if @event.lat && @event.lng %>
            <%= map_for @event, height: '400px' %>
          <% end %>

          <div class="list-group-item size-xs-small size-sm-normal">
            <%= fa_icon 'map-marker 1x', class: 'mr-xs' %>
            <%= @event.full_address %>
          </div>
        </div>
      <% end %>

    </div>

    <div class="col-xs-12 <%= 'col-lg-5' if two_columns %>">
      <% if can? :manage, @event %>
        <div class="list-group mb-2">
          <%= render 'shared/list_group_header', title: 'Management' %>

          <div class="list-group-item">
            <%= fa_icon 'trash 1x', class: 'mr-xs' %>
            <%= link_to 'Remove event', confirm_destroy_event_path(@event) %>
          </div>
        </div>
      <% end %>

      <%= render 'comments/comments/form', resource: @event %>
    </div>
  </div>
</div>
