<%= form_for(@family) do |f| %>

  <div class="list-group mb-2">
    <%= render 'shared/list_group_header', title: 'Details' %>
    <%= render 'shared/list_group_item_field', f: f, field: :name,     autocapitalize: :words, required: true %>
    <%= render 'shared/list_group_item_field', f: f, field: :address1, autocapitalize: :words %>
    <%= render 'shared/list_group_item_field', f: f, field: :address2, autocapitalize: :words %>
    <%= render 'shared/list_group_item_field', f: f, field: :postcode, autocapitalize: :characters %>
    <%= render 'shared/list_group_item_field', f: f, field: :country,  autocapitalize: :words %>
  </div>

  <%= render 'shared/form_submit', title: (@family.new_record? ? 'Make new family' : 'Save changes'), icon: @family %>
<% end %>
