<% content_for :menu, :families %>

<div class="container">
  <%= render 'shared/title', title: 'Families', btn: true do %>

    <% if can? :create, Family %>
      <div class="btn-group float-xs-right">
        <%= link_to new_family_path, class: "btn btn-lg btn-info" do %>
          <%= icon_for 'plus' %> New
        <% end %>

        <% if can? :manage, Family %>
          <div class="btn-group" role="group">
            <button type="button" class="btn btn-info btn-lg dropdown-toggle pl-sm" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
            <div class="dropdown-menu dropdown-menu-right">
              <a class="dropdown-item" href="<%= merge_families_path %>">
                <%= icon_container "Merge all duplicate names", :merge %>
              </a>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>

  <% end %>
  <div class="list-group">
    <%= render 'shared/search_header', resource: :families, options: [:people, :families, :teams] %>

    <% if @families.present? %>
      <% @families.each do |family| %>
        <%= icon_container family, class: 'list-group-item list-group-item-action', tag: :a, href: url_for(family) do %>
          <div class="row">
            <div class="col-sm-6 text-ellipsis">
              <%= family %>
            </div>
            <div class="col-sm-6 text-ellipsis text-light size-xs-small">
              <%= family.people.map(&:short_name).join(', ') %>
            </div>
          </div>

        <% end %>
      <% end %>
    <% else %>
      <div class="list-group-item list-group-item-padded">
        <h1>Start a family.</h1>
        <p>
          Families are an essential connection of the database to people. Defining families allows you to
          group people in the same family together at a specific home address.
        </p>
        <% if can? :create, Family %>
          <p>
            <%= link_to "Create a family", new_family_path %> for your church members.
          </p>
        <% end %>
      </div>
    <% end %>
  </div>

  <div class="text-xs-center mt-1">
    <%= paginate @families, theme: 'twitter-bootstrap-4', pagination_class: "pagination-sm" %>
  </div>
</div>
