<% if has_comments_area? resource %>
  <div class="list-group mb-2">
    <div class="list-group-item">
      <%= form_for :comment, url: comments_path, remote: true do |f| %>
        <%= f.hidden_field :commentable_id, value: resource.id %>
        <%= f.hidden_field :commentable_type, value: resource.class.name %>
        <%= f.text_area :description, class: 'form-control my-sm', rows: 1, placeholder: 'Add a comment...' %>
        <button type="submit" class="btn btn-primary sr-only">Send</button>
      <% end %>

      <div id="comments">
        <% if resource.comments.present? %>
          <%= render partial: 'comments/comments/comment', collection: resource.comments.includes(:person).order('created_at desc') %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
