<% content_for :menu, :church %>
<%= render 'account/churches/title' %>

<div class="container-sm">
  <%= flash_messages %>
  <%= form_for(current_church, url: account_church_path) do |f| %>

    <div class="list-group mb-2">
      <%= render 'shared/list_group_header', title: 'Photo' %>
      <div class="list-group-item">
        <label class="custom-control custom-file">
          <%= f.file_field :cover, class: 'custom-file-input' %>
          <span class="custom-file-control"></span>
        </label>
      </div>
    </div>

    <div class="list-group mb-2">
      <%= render 'shared/list_group_header', title: 'Address' %>
      <%= render 'shared/list_group_item_field', f: f, field: :name, required: true, autocapitalize: :words %>
      <%= render 'shared/list_group_item_field', f: f, field: :address1, autocapitalize: :words %>
      <%= render 'shared/list_group_item_field', f: f, field: :address2, autocapitalize: :words %>
      <%= render 'shared/list_group_item_field', f: f, field: :postcode, autocapitalize: :characters %>
      <%= render 'shared/list_group_item_field', f: f, field: :country,  autocapitalize: :words %>
    </div>

    <div class="list-group mb-2">
      <%= render 'shared/list_group_header', title: 'Communication' %>
      <%= render 'shared/list_group_item_field', f: f, field: :phone, control: :phone_field, icon: :phone %>
      <%= render 'shared/list_group_item_field', f: f, field: :email, control: :email_field, icon: :envelope %>
    </div>

    <div class="list-group mb-2">
      <%= render 'shared/list_group_header', title: 'Registration' %>
      <%= render 'shared/list_group_item_field', f: f, field: :charity_number %>
    </div>

    <div class="list-group mb-2">
      <%= render 'shared/list_group_header', title: 'Settings' %>
      <div class="list-group-item">
        <div class="mt-sm">
          <%= render 'shared/form_checkbox', f: f, field: :can_sign_up, help: true %>
        </div>
      </div>
    </div>

    <%= render 'shared/form_submit', icon: :home %>
  <% end %>
</div>
