<%= render 'account/churches/title' %>

<% can_view_stats = can?(:read, Person) || can?(:read, Team) || can?(:read, Event) || can?(:read, ChurchProcess) %>
<% two_columns = can_view_stats %>

<div class="container-sm">
  <%= flash_messages container: 'container-sm' %>
</div>

<div class="<%= 'container-sm' unless two_columns %>">
  <div class="row">
    <div class="col-xs-12 <%= 'col-lg-7' if two_columns %>">
      <% if can_view_stats %>
        <div class="list-group mb-2">
          <%= render 'shared/list_group_header', title: 'Database' %>
          <div class="list-group-item">
            <%= render 'account/churches/pictograph', klass: Person, icon: :user %>
            <%= render 'account/churches/pictograph', klass: Team, icon: :users %>
            <%= render 'account/churches/pictograph', klass: Event, query: Event.upcoming, icon: :calendar, desc: 'upcoming event' %>
            <%= render 'account/churches/pictograph', klass: ChurchProcess, query: PersonProcess.active, icon: 'arrow-right', desc: 'active process' %>
          </div>
        </div>
      <% end %>
    </div>

    <div class="col-xs-12 <%= 'col-lg-5' if two_columns %>">
      <div class="list-group mb-2">
        <%= render 'shared/list_group_header', title: 'Address', button: { href: edit_account_church_path, icon: 'pencil', title: 'Edit', can: [:update, current_church] } %>

        <% if current_church.full_address.present? %>
          <% if current_church.lat && current_church.lng %>
            <%= map_for current_church, height: '300px' %>
          <% end %>

          <div class="list-group-item size-xs-small size-sm-normal fa-container">
            <%= fa_icon 'map-marker 1x', class: 'mr-xs' %>
            <%= current_church.full_address %>
          </div>
        <% else %>
          <div class="list-group-item list-group-item-padded">
            <% if can? :update, current_church %>
              <h2>No address</h2>
              <p>
                You have not set your church address yet. We highly recommend you <%= link_to "fill it in now", edit_account_church_path %>.
              </p>
            <% else %>
              <h2>No address</h2>
              <p>
                The administrator has not set your church address yet. We apologise for this embarrassing inconvenience.
              </p>
              <p>
                <%= link_to "View your account page", account_person_path %>
              </p>
            <% end %>
          </div>
        <% end %>
        <% if current_church.phone? %>
          <div class="list-group-item size-xs-small size-sm-normal fa-container">
            <%= fa_icon 'phone 1x', class: 'mr-xs' %>
            <%= link_to current_church.phone, "tel:#{current_church.phone}", class: 'dotted' %>
          </div>
        <% end %>
        <% if current_church.email? %>
          <div class="list-group-item size-xs-small size-sm-normal fa-container">
            <%= fa_icon 'envelope 1x', class: 'mr-xs' %>
            <%= link_to current_church.email, "mailto:#{current_church.email}", class: 'dotted' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
