<% content_for :menu, :church %>
<%= render 'title' %>

<div class="container">
  <% if current_church.full_address.present? %>
    <div class="row">
      <div class="col-md-6 col-lg-8">
        <div class="list-group mb-2">
          <%= render 'shared/list_group_header', title: 'Map' %>

          <% if current_church.lat && current_church.lng %>
            <%= map_for current_church, height: '300px', address: [current_church.name, current_church.address1, current_church.address2, current_church.postcode, current_church.country].select(&:present?).join(', ') %>
          <% end %>
        </div>
      </div>

      <div class="col-md-6 col-lg-4">
        <div class="list-group mb-2">
          <%= render 'shared/list_group_header', title: 'Address', button: { href: edit_account_church_path, icon: 'pencil', title: 'Edit', can: [:update, current_church] } %>

          <%= icon_container 'map-marker', class: "list-group-item size-xs-small size-sm-normal" do %>
            <div class="font-weight-bold"><%= current_church.name %></div>
            <div><%= current_church.address1 %></div>
            <div><%= current_church.address2 %></div>
            <div><%= current_church.postcode %></div>
            <div><%= current_church.country %></div>
          <% end %>

          <%= icon_container :phone, class: "list-group-item size-xs-small size-sm-normal" do %>
            <%= link_to current_church.phone, "tel:#{current_church.phone}", class: 'dotted' %>
          <% end if current_church.phone.present? %>

          <%= icon_container :email, class: "list-group-item size-xs-small size-sm-normal" do %>
            <%= link_to current_church.email, "mailto:#{current_church.email}", class: 'dotted' %>
          <% end if current_church.email.present? %>

        </div>
      </div>
    </div>
  <% else %>
    <div class="list-group mb-2">
      <%= render 'shared/list_group_header', title: 'Address', button: { href: edit_account_church_path, icon: 'pencil', title: 'Edit', can: [:update, current_church] } %>
      <div class="list-group-item list-group-item-padded">
        <% if can? :update, current_church %>
          <h2>No address</h2>
          <p>
            You have not set your church address yet. We highly recommend you <%= link_to "fill it in now", edit_account_church_path %>.
          </p>
        <% else %>
          <h2>No address</h2>
          <p>
            The administrator has not set your church address yet. We apologise for this embarrassing inconvenience.
          </p>
          <p>
            <%= link_to "View your account page", account_person_path %>
          </p>
        <% end %>
      </div>
    </div>
  <% end %>

  <% if can?(:read, Person) %>
    <div class="row">
      <div class="col-md-6">
        <div class="list-group mb-2">
          <%= render 'chart_header', title: 'Recently added' %>
          <% Action.of_type(:added).order('created_at DESC').limit(6).includes(:actor).each do |action| %>
            <%= icon_container action.actor, class: 'list-group-item clearfix' do %>
              <div class="float-xs-right text-light"><span class="size-xs-small"><%= action.created_at.strftime('%-d %b') %></span></div>
              <%= link_to action.actor, action.actor, class: 'text-ellipsis' %>
            <% end %>
          <% end %>
        </div>
      </div>

      <div class="col-md-6">
        <div class="list-group mb-2">
          <%= render 'chart_header', title: 'Joined per month' %>
          <div class="list-group-item">
            <%= line_chart Action.of_type(:joined).where('created_at > ?', 12.months.ago ).group_by_month, height: '270px' %>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6">
        <div class="list-group mb-2">
          <%= render 'chart_header', title: 'Age distribution' %>
          <div class="list-group-item">
            <%= bar_chart by_age_range all_people %>
          </div>
        </div>
      </div>

      <div class="col-sm-6">
        <div class="list-group mb-2">
          <%= render 'chart_header', title: 'Gender distribution' %>
          <div class="list-group-item">
            <%= pie_chart by_gender all_people %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
