<%= flash_messages %>
<%= form_for(@team) do |f| %>

  <div class="list-group mb-2">
    <div class="list-group-item list-group-item-secondary">
      <% if @team.new_record? %>
        <%= link_to 'Cancel', teams_path, class: 'float-xs-right btn btn-secondary btn-sm btn-align-middle' %>
      <% else %>
        <%= link_to 'Cancel', @team, class: 'float-xs-right btn btn-secondary btn-sm btn-align-middle' %>
      <% end %>

      Team details
    </div>

    <div class="list-group-item">
      <% if @team.new_record? %>
        <div class="mb-sm">Name</div>
      <% end %>

      <div class="input-group <%= 'has-danger' if @team.errors[:name].present? %>">
        <%= f.text_field :name, class: 'form-control', autofocus: true, placeholder: "e.g. Editors, Worship team, Pastors, ...", hide_errors: true %>
        <%= f.hidden_field :icon %>
        <%= f.hidden_field :color %>

        <div class="input-group-btn dropdown">
          <a class="btn btn-secondary" data-toggle="dropdown"><%= fa_icon "#{@team.icon} 1x" %></a>
          <div class="dropdown-menu dropdown-menu-icons dropdown-menu-right">
            <% Team::ICONS.each do |icon| %>
              <%= link_to raw(fa_icon("#{icon} 2x")), '#', class: "dropdown-item dropdown-item-icon text-xs-center", data: { toggle: 'icon', icon: icon } %>
            <% end %>
          </div>
        </div>

        <div class="input-group-btn dropdown">
          <div class="dropdown-menu dropdown-menu-icons dropdown-menu-right">
            <% Team::COLORS.each do |color| %>
              <%= link_to raw(fa_icon("square 2x")), '#', class: "dropdown-item dropdown-item-icon text-xs-center", data: { toggle: 'color', color: color }, style: "color: ##{color}" %>
            <% end %>
          </div>
          <a class="btn btn-secondary" data-toggle="dropdown" style="color: <%= '#' + @team.color %>;"><%= fa_icon "square 1x" %></a>
        </div>
      </div>

      <%= field_error(@team, :name) %>
    </div>

    <div class="list-group-item">
      Description
      <div class="size-xs-small text-light mb-sm">A short description of your team, e.g. what it does or where it meets.</div>

      <%= f.text_area :description, class: 'form-control', rows: 10 %>
    </div>

    <% if can? :manage, @team %>
      <div class="list-group-item">
        Permissions
        <div class="size-xs-small text-light mb-1">
          Should team members receive special permissions on this website?
          <a href="#permissions-info" title="Click for more info" data-tooltip data-trigger="hover" data-toggle="collapse"><%= fa_icon 'info-circle' %></a>
        </div>

        <div class="collapse" id="permissions-info">
          <hr class="mt-0"/>
          <p>
            By default, anyone who creates an account still cannot see anything beyond their own account. By adding people to teams
            and giving those teams permissions, you can open up parts of your website to your members.
          </p>

          <p>
            <strong>View</strong> permissions allow someone to read information (like people's names, contact info),
            but not to change it.
          </p>

          <p>
            <strong>Edit</strong> permissions allow someone to make changes to any existing information. They could
            change a person's name in the database for example, and add new people, but not remove anything.
          </p>

          <p>
            <strong>Manage</strong> permissions are the highest level. Managers can create or remove all kinds
            of information from the database.
          </p>
          <hr/>
        </div>

        <div class="mb-xs">
          <%= fa_icon 'user 1x mr-xs' %>
          <span class="">People, Teams, Families</span>
        </div>

        <label class="field custom-checkbox custom-control">
          <%= f.check_box :people_reader, class: 'custom-control-input' %>
          <span class="custom-control-indicator"></span>
          View
        </label>

        <label class="field custom-checkbox custom-control">
          <%= f.check_box :people_editor, class: 'custom-control-input' %>
          <span class="custom-control-indicator"></span>
          Edit
        </label>

        <label class="field custom-checkbox custom-control">
          <%= f.check_box :people_admin, class: 'custom-control-input' %>
          <span class="custom-control-indicator"></span>
          Manage
        </label>
      </div>
    <% end %>
  </div>

  <div class="text-xs-center">
    <button type="submit" class="btn btn-primary btn-lg">
      <%= fa_icon 'users', class: 'mr-sm' %><%= @team.new_record? ? 'Make new team' : 'Save changes' %>
    </button>
  </div>

<% end %>
