<% team.team_memberships.joins(:person).includes(:person).order('first_name, last_name').each do |membership| %>
  <div class="list-group-item" id="team_membership-<%= membership.id %>">
    <% if can? :destroy, membership %>
      <%= button_to [team, membership], method: :delete, remote: true, class: 'btn btn-link py-0 px-xs float-xs-right text-light', data: { confirm: "Really remove #{membership.person} from #{team}?" } do %>
        <%= icon_for :x %>
      <% end %>
    <% end %>

    <div class="avatar-container">
      <%= avatar_tag membership.person %>
      <%= link_to_if can?(:read, membership.person), membership.person, membership.person %>
    </div>
  </div>
<% end %>
