<%= flash_messages container: 'container-sm' %>
<% two_columns = can?(:manage, team) || has_comments_area?(team) %>

<div class="<%= 'container-sm' unless two_columns %>">
  <div class="row">
    <div class="col-xs-12 <%= 'col-lg-7' if two_columns %>">
      <div class="list-group mb-2">
        <%= render 'shared/list_group_header', title: 'Details', button: { icon: :pencil, title: 'Edit', href: edit_team_path(team), can: [:update, team] } %>

        <% if team.description.present? %>
          <div class="list-group-item">
            <%= render 'shared/description', description: team.description %>
          </div>
        <% end %>

        <% if can? :manage, team %>
          <% if team.admin? %>
            <div class="list-group-item">
              <div class="mb-xs">
                <%= fa_icon 'star 1x mr-xs' %>
                Site administration
              </div>
              <div class="size-xs-small clearfix">
                <div class="float-xs-left mr-1"><%= fa_icon 'check' %> Access all areas</div>
              </div>
            </div>

          <% elsif team.has_permissions? %>
            <% if team.has_permissions_for? :people %>
              <div class="list-group-item">
                <div class="mb-xs">
                  <%= fa_icon 'user 1x mr-xs' %>
                  People, Teams, Families
                </div>
                <div class="size-xs-small clearfix">
                  <% if team.people_reader? %><div class="float-xs-left mr-1"><%= fa_icon 'check' %> View</div><% end %>
                  <% if team.people_editor? %><div class="float-xs-left mr-1"><%= fa_icon 'check' %> Edit</div><% end %>
                  <% if team.people_admin?  %><div class="float-xs-left mr-1"><%= fa_icon 'check' %> Manage</div><% end %>
                </div>
              </div>
            <% end %>
          <% end %>
        <% end %>
      </div>

      <div class="list-group mb-2">
        <%= render 'shared/list_group_header', title: 'Members', button: { icon: :user, title: 'Add person', href: new_team_team_membership_path(team), can: [:create, TeamMembership] } %>
        <%= render 'people/teams/memberships', team: team %>
      </div>

      <div class="list-group mb-2">
        <%= render 'shared/list_group_header', title: 'Events', button: { icon: :calendar, title: 'Add event', href: new_team_event_path(team), can: [:create, Event] } %>
        <%= render partial: 'events/events/event_item', collection: team.events.upcoming.sort_by_closest %>
      </div>

    </div>

    <div class="col-xs-12 <%= 'col-lg-5' if two_columns %>">
      <% if can?(:manage, team) && !team.admin? %>
        <div class="list-group mb-2">
          <%= render 'shared/list_group_header', title: 'Management' %>

          <% unless team.admin? %>
            <div class="list-group-item">
              <%= fa_icon 'trash 1x', class: 'mr-xs' %>
              <%= link_to 'Remove team', confirm_destroy_team_path(team) %>
            </div>
          <% end %>
        </div>
      <% end %>

      <%= render 'comments/comments/form', resource: team %>

    </div>
  </div>
</div>
