<%= flash_messages container: 'container-sm' %>

<div class="list-group mb-2">
  <%= render 'shared/list_group_header', title: 'Details' %>

  <% if team.description.present? %>
    <div class="list-group-item">
      <%= render 'shared/description', description: team.description %>
    </div>
  <% end %>

  <% if can? :manage, team %>
    <% if team.admin? %>
      <div class="list-group-item">
        <%= icon_container 'Site administration', :star %>
        <%= icon_container '', class: "size-xs-small clearfix" do %>
          <div class="float-xs-left mr-1"><%= fa_icon 'check' %> Access all areas</div>
        <% end %>
      </div>

    <% elsif team.has_permissions? %>
      <% { people: 'People, Teams, Families', process: 'Processes', event: 'Events', comment: 'Comments' }.each do |type, title| %>
        <% if team.has_permissions_for? type %>
          <div class="list-group-item">
            <%= icon_container title, type %>
            <%= icon_container '', class: 'size-xs-small clearfix' do %>
              <% if team.try(:"#{type}_reader?") %><div class="float-xs-left mr-1"><%= icon_for :eye %> View</div><% end %>
              <% if team.try(:"#{type}_editor?") %><div class="float-xs-left mr-1"><%= icon_for :pencil %> Edit</div><% end %>
              <% if team.try(:"#{type}_admin?")  %><div class="float-xs-left mr-1"><%= icon_for :star %> Manage</div><% end %>
            <% end %>
          </div>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
</div>

<% if team.team_memberships.present? %>
  <div class="list-group mb-2">
    <%= render 'shared/list_group_header', title: 'Members' %>
    <%= render 'people/teams/memberships', team: team %>
  </div>
<% end %>

<% if team.events.present? %>
  <div class="list-group mb-2">
    <%= render 'shared/list_group_header', title: 'Events' %>
    <%= render partial: 'events/events/event_item', collection: team.events.upcoming.sort_by_closest %>
  </div>
<% end %>

<%= render 'comments/comments/form', resource: team %>
