<% if can? :create, Team %>
  <%= link_to new_team_path, class: 'btn btn-primary float-xs-right' do %>
    <%= fa_icon 'plus-circle' %> New
  <% end %>
<% end %>

<%= render 'shared/title', title: 'Teams' %>

<div class="list-group">
  <%= render 'shared/search_header', resource: :teams %>

  <% @teams.each do |team| %>
    <a href="<%= url_for(team) %>" class="list-group-item clearfix size-xs-small size-sm-normal list-group-item-action list-group-item-team" style="<%= "border-left-color: ##{team.color};" if team.color %>">
      <div class="row">
        <div class="col-sm-6 text-ellipsis">
          <%= fa_icon "#{team.icon} 1x", class: 'mr-xs'%>
          <%= team %>
        </div>
        <div class="col-sm-6 text-ellipsis text-light size-xs-small">
          <%= pluralize team.team_memberships.to_a.count, 'member' %>
        </div>
      </div>
    </a>
  <% end %>
</div>

<div class="text-xs-center mt-1">
  <%= paginate @teams, theme: 'twitter-bootstrap-4', pagination_class: "pagination-sm" %>
</div>
