<%= render 'shared/title', title: 'Teams' %>

<%= list_group @teams do |team| %>

  <div class="row">
    <div class="col-sm-6">
      <%= link_to team, class: "text-ellipsis" do %>
        <%= fa_icon 'star 1x', class: 'mr-xs' if team.admin? %><%= team %>
      <% end %>
    </div>
    <div class="col-sm-6">
      <div class="text-ellipsis text-light size-xs-small">
        <%= pluralize team.team_memberships.count, 'member' %>
      </div>
    </div>
  </div>

<% end %>
