<div class="list-group-item" id="child_group_membership_<%= list_group_item.id %>">
  <div class="avatar-container">
    <%= avatar_tag list_group_item.person %>
    <div class="row">
      <div class="col-sm-5">
        <%= link_to list_group_item, list_group_item.person %>
      </div>
      <div class="col-sm-7 text-light">
        <% if can?(:destroy, list_group_item) %>
          <%= button_to [list_group_item.child_group, list_group_item], method: :delete, remote: true, class: 'btn btn-link btn-align-middle px-xs float-xs-right text-light', data: { confirm: "Really remove #{list_group_item.person} from #{list_group_item.child_group}?" } do %>
            <%= icon_for :x %>
          <% end %>
        <% end %>

        <% if list_group_item.person.dob %>
          <span class="size-xs-tiny">
            <%= list_group_item.person.age %>
          </span>
        <% end %>
      </div>
    </div>
  </div>
</div>
