<%= form_for([@person_process.church_process, @person_process]) do |f| %>
  <div class="list-group mb-2">
    <% if @person_process.church_process %>
      <%= render 'shared/list_group_header', title: @person_process.church_process, icon: @person_process %>
    <% else %>
      <%= render 'shared/list_group_header', title: 'Process', icon: :process %>
    <% end %>

    <% if @person_process.new_record? %>
      <div class="list-group-item">
        <p class="size-xs-small">
          Select the person in the database who will start this process.
        </p>
        <div class="my-sm">
          <%= f.select :person_id, [], { include_blank: true }, data: { selectpicker: true, placeholder: "Choose a person", width: '100%', ajax: '/people.json', template: :person } %>
        </div>
      </div>
    <% else %>
      <%= render 'form_steps', f: f %>
    <% end %>
  </div>

  <%= render 'form_assign', f: f %>

  <%= render 'shared/form_submit', title: (@person_process.new_record? ? 'Start process' : 'Save changes'), icon: 'arrow-right' %>
<% end %>
