<div class="list-group-item <%= "list-group-item-process" if @person %>" style="<%= "border-left-color: ##{person_process_item.color}" if @person %>">
  <div class="<%= 'avatar-container' unless @person %> clearfix">
    <% if @person %>
      <div class="float-sm-left">
        <%= fa_icon "#{person_process_item.icon} 1x", class: 'mr-xs' %>
        <%= link_to person_process_item.church_process, [@person, person_process_item], class: 'size-xs-small size-sm-normal' %>
      </div>
    <% else %>
      <%= avatar_tag person_process_item.person %>
      <div class="float-sm-left">
        <%= link_to person_process_item.person, [@church_process, person_process_item], class: 'size-xs-small size-sm-normal' %>
      </div>
    <% end %>

    <div class="float-sm-right">
      <span class="size-xs-small">
        <% person_process_item.church_process.steps.each do |step| %>
          <% if person_process_item.completed_step?(step) %>
            <%= fa_icon 'square', class: 'text-success' %>
          <% else %>
            <%= fa_icon 'square', class: 'text-lighter' %>
          <% end %>
        <% end %>
      </span>
    </div>
  </div>
</div>
