<div class="text-xs-center mb-sm">
  <%= link_to @person_process.person do %>
    <%= avatar_tag @person_process.person, class: 'avatar-xl' %>
  <% end %>
</div>

<%= render 'shared/title',
           title: @person_process.person,
           link: @person_process.person,
           background: :process,
           align: :center %>

<% two_columns = (can?(:read, Comment) && @person_process.comments.present?) || can?(:create, Comment) %>

<div class="<%= 'container-sm' unless two_columns %>">
  <div class="row">
    <div class="col-xs-12 <%= 'col-lg-7' if two_columns %>">
      <%= render 'processes/person_processes/form' %>
    </div>

    <div class="col-xs-12 <%= 'col-lg-5' if two_columns %>">
      <%= render 'comments/form', resource: @person_process %>
    </div>
  </div>
</div>
