<!DOCTYPE html>
<html>
  <head>
    <title>Church on Rails</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>

  <body class="<%= 'with-side-menu' if side_menu? %>">
    <% if side_menu? %>
      <%= render 'shared/side_menu' %>
    <% end %>

    <div class="container py-1">
      <%= yield %>
    </div>
  </body>
</html>
